body
  background-color: white

#top-nav
  ul
    list-style-type: none
  li
    float: right
    a
      display: block
      padding: 0px 10px
      color: #41200D
      font-family: 'wdb_bangnaregular'
      font-size: 14px

#site-logo
  text-align: center

#page-header
  padding-top: 10px
  background: url("../img/page-bg.jpg") repeat-x

#page-content
  font-family: 'wdb_bangnaregular'

#site-menu-bar
  background: url("../img/site-menubar-bg.png") repeat-x white left bottom
  background-color: #f7e9d9
  padding: 0
  ul
    list-style-type: none
    li
      padding: 0
      float: left
      a
        display: block
        color: #784421
        padding: 6px 0 8px 0
        font-size: 16px
        text-align: center
        font-family: 'wdb_bangnaregular'
        font-weight: 0.8em

